$margin: 0.25rem;
$padding: 0.25rem;

$max-height: calc(100vh - 7rem);

$grey: darken(#ffffff, 5%);

:host ::ng-deep {

  legend {
    float: left;
    margin-bottom: 0;
    font-size: 1.25rem;
  }

  label:blank {
    display: none;
  }

  label.horizontal {
    margin: $margin $margin 0 0;
  }

  div:blank {
    display: none;
  }

  div.widget {
    margin: 0;

    button {
      margin-bottom: 0;
    }

    div {
      position: relative;

      button.array-remove-button {
        position: absolute;
        right: $margin;
        top: $margin;
      }
    }
  }

  sf-array-widget > div.widget > label {
    font-size: 1.5rem;
  }

  fieldset {
    padding: $padding;

    fieldset {
      background-color: $grey;
      fieldset {
        background-color: $grey;
        fieldset {
          background-color: $grey;
          fieldset {
            background-color: white;
            fieldset {
              background-color: white;
              fieldset {
                background-color: white;
              }
            }
          }
        }
      }
    }
  }

  button {
    margin-bottom: $margin;
  }

}

.sidebar {
  padding-right: 0;
}

.sidebar-form {
  height: $max-height;
  overflow-y: scroll;
  overflow-x: auto;
}

.preview {
  height: $max-height;
  overflow-x: scroll;
}
